:root {
  /* Spacing Variables */
  --space-xs: clamp(0.5rem, 0.4rem + 0.25vw, 0.75rem);
  --space-sm: clamp(1rem, 0.9rem + -.3125vw, 1.5rem);
  --space-md: clamp(1.5rem, 1.25rem + 0.625vw, 2.5rem);
  --space-lg: clamp(2rem, 1.5rem + 1.25vw, 4);
  --space-xl: clamp(3rem, 2rem + 2.5vw, 6rem);

  /* Width Constraints */
  --min-card-width: min-content;
  --max-card-width: max-content;
  --width-readable: fit-content(60ch);
  --width-wide: fit-content(80ch);
  --width-constrained: fit-content(45ch);

  --grid-min: 16rem;
  --grid-max: 1fr;
  --grid-gap: var(--space-lg);

  --container-sm: 400px;
  --container-md: 600px;
  --container-lg: 900px;
}

.cookie-card:has(img) {
  padding: var(--space-md);
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
}

@container cookie-grid (min-width: var(--container-md)) {
  .cookie-grid {
    padding: var(--container-lg);

  }
}

@container cookie-card (min-width: var(--container-md)) {
  .cookie-card {
    container-type: inline-size;
  }
}